frontend http
    bind *:8080
    mode http
    timeout client 10s
    use_backend all

backend all
    mode http
    server s1 backend1:1111
    server s2 backend2:2222
    server s3 backend3:3333


